<mat-sidenav-container class="example-container">

    <mat-sidenav #sidenav class="example-sidenav">
        <mat-list>
            <h3 mat-subheader>Folders</h3>
            <mat-list-item *ngFor="let folder of folders">
                <mat-icon mat-list-icon>folder</mat-icon>
                <h4 mat-line>{{folder.name}}</h4>
                <p mat-line> {{folder.updated | date}} </p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <h3 mat-subheader>Notes</h3>
            <mat-list-item *ngFor="let note of notes">
                <mat-icon mat-list-icon>note</mat-icon>
                <h4 mat-line>{{note.name}}</h4>
                <p mat-line> {{note.updated | date}} </p>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>

    <mat-toolbar color="primary" class="bottom-shadow">
        <span>
            <mat-icon mat-button (click)="sidenav.open()"
                    style="cursor: pointer">menu
            </mat-icon>
        </span>
        <span>
            <svg transform="scale(-0.5) translate(20,35)" style="width: 80px;margin: 0;padding: 0">
                <path fill="#ffffff" d="M64,4.7V0H44.4c-4.7,0-9,1.7-12.4,4.3C28.6,1.7,24.3,0,19.6,0H0v4.7h19.6c3.4,0,6.5,1.1,9,3.1 c-2.5,3.2-4,7.2-4,11.5v0.9c0,1.8,0.3,3.6,0.8,5.3c-1.9-0.6-3.9-0.9-5.9-0.9H0v4.7h19.6c3,0,5.9,0.9,8.2,2.5 c-2.4,1.6-5.2,2.5-8.2,2.5H0v5.2h19.5c2.1,0,4-0.3,5.9-0.9c-0.5,1.7-0.8,3.5-0.8,5.3v0.9c0,4.2,1.4,8,3.7,11.2 c-2.5,1.8-5.5,2.9-8.8,2.9H0V64h19.5c4.7,0,9-1.6,12.4-4.3c3.4,2.7,7.7,4.3,12.5,4.3H64v-5.2H44.4c-3.3,0-6.3-1.1-8.8-2.9 c2.3-3.2,3.7-7,3.7-11.2v-0.9c0-1.8-0.3-3.6-0.8-5.3c1.9,0.6,3.9,0.9,5.9,0.9H64v-5.2H44.4c-3,0-5.9-0.9-8.2-2.5 c2.4-1.6,5.2-2.5,8.2-2.5H64v-4.7H44.5c-2.1,0-4,0.3-5.9,0.9c0.5-1.7,0.8-3.5,0.8-5.3v-0.9c0-4.3-1.5-8.3-4-11.5 c2.5-1.9,5.6-3.1,9-3.1H64z M34.3,44.4c0,2.9-0.9,5.5-2.3,7.8c-1.5-2.3-2.3-4.9-2.3-7.8v-0.7c0-2.9,0.9-5.5,2.3-7.8 c1.5,2.3,2.3,4.9,2.3,7.8V44.4z M34.3,19.8c0,2.9-0.9,5.5-2.3,7.8c-1.5-2.3-2.3-4.9-2.3-7.8v-0.6c0-2.9,0.9-5.5,2.3-7.8 c1.5,2.3,2.3,4.9,2.3,7.8V19.8z">
                </path>
            </svg>
        </span>
        <span class="example-spacer"></span>
        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon class="example-icon">person</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Profile</span>
            </button>
            <button mat-menu-item>
                <mat-icon>fingerprint</mat-icon>
                <span>Log out</span>
            </button>
        </mat-menu>
        <mat-icon class="example-icon">delete</mat-icon>
    </mat-toolbar>

    <mat-tab-group>
        <mat-tab label="Match">
                <match-product-form></match-product-form>
        </mat-tab>
        <mat-tab label="Совпало">
            <match-list></match-list>
        </mat-tab>
    </mat-tab-group>

</mat-sidenav-container>
