<form class="example-form" #productForm="ngForm" (ngSubmit)="onSubmit()">
    <h1>Gestori</h1>
    <h2>Add product</h2>

    <table style="width: 100%">

    <tr>
        <td>
            <p>
                <md-input-container class="example-full-width">
                    <input mdInput placeholder="Введите код подгруппы" required [(ngModel)]="model.group_id"
                    name="group_id" #inputGroupId maxlength="6">
                    <md-hint align="start">Код подгруппы</md-hint>
                    <md-hint align="end">310101</md-hint>
                </md-input-container>
            </p>
        </td>
        <td style="width: 32px">
            <button md-icon-button type="button">
                <md-icon class="md-24" color="basic">clear</md-icon>
            </button>
        </td>
    </tr>

    <!--
    <md-input-container class="example-full-width">
        <input type="text" mdInput placeholder="Gestori groups"
            [formControl]="GroupsControl" [mdAutocomplete]="auto" #groupInput>
    </md-input-container>

    <md-autocomplete #auto="mdAutocomplete">
        <md-option *ngFor="let async_brands of asyncBrands | async" [value]="async_brands.name">
            {{ async_brands.name }}
        </md-option>
    </md-autocomplete>
    -->

    <tr>
        <td>
            <p>
                <md-input-container class="example-full-width">
                    <input mdInput placeholder="Введите баркод" required [(ngModel)]="model.barcode" 
                    name="barcode" required #inputBarcode>
                    <md-hint align="start">Баркод</md-hint>
                    <md-hint align="end">3145891642445</md-hint>
                </md-input-container>
            </p>
        </td>
        <td style="width: 32px">
            <button md-icon-button color="basic" type="button">
                <md-icon class="md-24">clear</md-icon>
            </button>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <md-input-container class="example-full-width">
                    <textarea mdInput placeholder="Введите наименование" [(ngModel)]="model.name" name="name" required #inputName></textarea>
                    <md-hint align="start">Наименование</md-hint>
                    <md-hint align="end">Chanel Тени для век LES 4</md-hint>
                </md-input-container>
            </p>
        </td>
        <td>
            <button md-icon-button color="basic" type="button">
                <md-icon class="md-24">clear</md-icon>
            </button>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <md-input-container class="example-full-width">
                    <input mdInput placeholder="Введите артикул" [(ngModel)]="model.artic" name="artic" #inputArtic required>
                    <md-hint align="start">Артикул</md-hint>
                    <md-hint align="end">164244</md-hint>
                </md-input-container>
            </p>
        </td>
        <td>
            <button md-icon-button color="basic" type="button">
                <md-icon class="md-24">clear</md-icon>
            </button>
        </td>
    </tr>
    <tr>
        <td>
            <p style="margin-top: 30px">
                <md-select placeholder="Ед. измерения" 
                    [(ngModel)]="model.measure" 
                    name="measure" #inputMeasure required>
                    <md-option *ngFor="let mea of measures" value="mea.value">
                        {{mea.viewValue}}
                    </md-option>
                </md-select>
            </p>
        </td>
        <td>

        </td>
    </tr>
    </table>

    <div color="warn" class="button-row" style="text-align: right;margin-top: 60px">
        <button md-raised-button type="submit">OK</button>
    </div>

</form>
