<h1 mat-dialog-title>Match</h1>

<mat-dialog-content>
    <h3>Вы уверены ?</h3>
</mat-dialog-content>

<div *ngIf="data.gestSelectedItem!==undefined">
<h2 class="h2-c">Gest</h2>
	<div><b>{{data.gestSelectedItem.name}}</b></div>
	<div><b>{{data.gestSelectedItem.name_e}}</b></div>
	<div>{{data.gestSelectedItem.artic}}</div>
	<div><b>{{data.gestSelectedItem.brand}}</b></div>
</div>

<!-- RIVE -->
<div *ngIf="data.riveSelectedItem!==undefined">
<h2 class="h2-c">Rive</h2>
<hr>
	<div><b>{{data.riveSelectedItem.name}}</b></div>
	<div><b>{{data.riveSelectedItem.brand}}</b></div>
	<div><b>{{data.riveSelectedItem.country}}</b></div>
	<div>{{data.riveSelectedItem.desc}}</div>
	<div><img src="{{data.riveSelectedItem.image_url}}" height="50px" /></div>
</div>
<!-- /RIVE -->

<!-- FUCK FUCK -->
<!-- ILDE -->
<div *ngIf="data.ildeSelectedItem!==undefined">
<h2 class="h2-c">Ilde</h2>
<hr>
	<div><b>{{data.ildeSelectedItem.name}}</b></div>
	<div><b>{{data.ildeSelectedItem.brand}}</b></div>
	<div><b>{{data.ildeSelectedItem.artic}}</b></div>
	<div><img src="//static.iledebeaute.ru{{data.ildeSelectedItem.image}}" height="50px" /></div>
</div>
<!-- /ILDE -->

<!-- LETU -->
<div *ngIf="data.letuSelectedItem!==undefined">
<h2 class="h2-c">Letu</h2>
<hr>
	<div><b>{{data.letuSelectedItem.name}}</b></div>
	<div><b>{{data.letuSelectedItem.brand}}</b></div>
	<div><b>{{data.letuSelectedItem.artic}}</b></div>
	<div>{{data.letuSelectedItem.desc}}</div>
</div>
<!-- /LETU -->

<mat-dialog-actions class="aright">
    <button mat-raised-button color="primary" mat-button [mat-dialog-close]="true" (click)="onYesClick(data.gestSelectedItem, data.riveSelectedItem, data.ildeSelectedItem, data.letuSelectedItem)">Да</button>
    <button mat-button mat-dialog-close>Нет</button>
</mat-dialog-actions>
