<div style="padding: 14px 7px;text-align: center">
	<button md-mini-fab type="button" (click)="getListMatched(1)">
		<md-icon class="md-24">refresh</md-icon>
	</button>
</div>
<table class="striped1">
	<thead>
		<td></td>
		<td><h2>gestori</h2></td>
		<td><h2>rive</h2></td>
		<td><h2>letu</h2></td>
		<td><h2>ilde</h2></td>
	</thead>
	<tbody>
		<tr *ngFor="let prods of asyncRes | async">
			<td>
				<div style="padding: 7px">
					<md-checkbox (click)="switchVerified($event)"></md-checkbox>
				</div>
			</td>
			<td class="ga-tr-1" width="25%" style="position: relative">
				<div *ngIf="prods.gest!==undefined">
					<div class="ga-h2">{{prods.gest.name_e}}</div>
					<div class="ga-h2">{{prods.gest.name}}</div>
					<div class="ga-brand">{{prods.gest.brand}}</div>
					<div>{{prods.gest.barcod}}</div>
					<div>{{prods.gest.artic}}</div>
					<div style="position: absolute;right: 0;bottom: 0;color: green;padding: 7px">{{prods.gest.retail_price}} руб.</div>
				</div>
			</td>
			<td class="ga-tr-1" width="25%" style="position: relative">
				<div *ngIf="prods.rive!==undefined">
					<div class="ga-h2">{{prods.rive.name}}</div>
					<div class="ga-brand">{{prods.rive.brand}}</div>
					<div>{{prods.rive.code}}</div>
					<div>{{prods.rive.country}}</div>
					<div><img src="{{prods.rive.image_url}}" height="50px" /></div>
					<div style="position: absolute;right: 0;bottom: 0;color: green;padding: 7px">{{prods.rive.listingprice}} руб.</div>
				</div>
			</td>
			<td class="ga-tr-1" width="25%" style="position: relative">
				<div *ngIf="prods.letu!==undefined">
					<div class="ga-h2">{{prods.letu.name}}</div>
					<div>{{prods.letu.name_e}}</div>
					<div class="ga-brand">{{prods.letu.brand}}</div>
					<div>{{prods.letu.artic}}</div>
					<div style="position: absolute;right: 0;bottom: 0;color: green;padding: 7px">{{prods.letu.listingprice}} руб.</div>
				</div>
			</td>
			<td class="ga-tr-1" width="25%" style="position: relative">
				<div *ngIf="prods.ilde!==undefined">
					<div class="ga-h2">{{prods.ilde.name}}</div>
					<div class="ga-brand">{{prods.ilde.brand}}</div>
					<div>{{prods.ilde.artic}}</div>
					<div><img src="http://static.iledebeaute.ru{{prods.ilde.image}}" height="50px" /></div>
					<div style="position: absolute;right: 0;bottom: 0;color: green;padding: 7px">{{prods.ilde.listingprice}} руб.</div>
				</div>
			</td>
			<td>
				<button md-mini-fab type="button" color="basic">
					<md-icon class="md-24">clear</md-icon>
				</button>
			</td>
		</tr>
	</tbody>
</table>
