<div style="padding: 14px 7px;text-align: center;max-width: 1240px">
	<div>
		<button mat-mini-fab type="button" (click)="getListMatched(1)">
			<mat-icon class="mat-24">refresh</mat-icon>
		</button>
	</div>
	<div>
		<div class="ga-progress-bar">
			<div *ngIf="isMatchListLoaded!==undefined">
				<mat-progress-bar mode="query"></mat-progress-bar>
			</div>
		</div>
	</div>
</div>
<table class="striped1" style="max-width: 1240px">
	<thead>
		<td></td>
		<td><h2>gestori</h2></td>
		<td><h2>rive</h2></td>
		<td><h2>letu</h2></td>
		<td><h2>ilde</h2></td>
	</thead>
	<tbody>
		<tr *ngFor="let prods of asyncRes | async" [attr.id]="'matched_'+prods._id['$oid']">
			<td>
				<button mat-icon-button [matMenuTriggerFor]="menu">
				  <mat-icon>more_vert</mat-icon>
				</button>
				<mat-menu #menu="matMenu">
				  <button mat-menu-item (click)="clearMatchedItems(prods._id['$oid'])">
				    <mat-icon>clear</mat-icon>
				    <span>Удалить</span>
				  </button>
				  <button mat-menu-item disabled>
				    <mat-icon>export</mat-icon>
				    <span>Экспорт</span>
				  </button>
				</mat-menu>
			</td>
			<td class="ga-tr-1" width="25%" style="position: relative">
				<mat-card *ngIf="prods.gest?.length > 0">
					<div class="ga-h2">{{prods.gest[0].Name_e}}</div>
					<div class="ga-h2">{{prods.gest[0].Name}}</div>
					<div class="ga-brand">{{prods.gest[0].cod_brand}}</div>
					<div>{{prods.gest[0].Barcod}}</div>
					<div>{{prods.gest[0].Artic}}</div>
					<div *ngIf="prods.gest[0].Retail_price" class="price-matchlist">{{prods.gest[0].Retail_price}} руб.</div>
				</mat-card>
			</td>
			<td class="ga-tr-1" width="25%" style="position: relative">
				<mat-card *ngIf="prods.rive_match_code!==undefined">
					<div class="ga-h2">{{prods.rive[0].name}}</div>
					<div class="ga-brand">{{prods.rive[0].brand}}</div>
					<div>{{prods.rive[0].code}}</div>
					<div>{{prods.rive[0].country}}</div>
					<div *ngIf="prods.rive[0].image_url!==undefined"><img src="{{prods.rive[0].image_url}}" height="50px" /></div>
					<div *ngIf="prods.rive[0].listingprice!==undefined && prods.rive[0].listingprice!==null" style="position: absolute;right: 0;bottom: 0;color: green;padding: 7px">{{prods.rive[0].listingprice}} руб.</div>
					<div *ngIf="prods.rive[0].oldprice!==undefined && prods.rive[0].oldprice!==null" style="position: absolute;right: 0;bottom: 0;color: green;padding: 7px">{{prods.rive[0].oldprice}} руб.</div>
				</mat-card>
			</td>
			<td class="ga-tr-1" width="25%" style="position: relative">
				<mat-card *ngIf="prods.letu_match_code!==undefined">
					<div class="ga-h2">{{prods.letu[0].name}}</div>
					<!-- <div>{{prods.letu.name_e}}</div> -->
					<div class="ga-brand">{{prods.letu[0].brand}}</div>
					<div>{{prods.letu[0].articul}}</div>
					<div *ngIf="prods.letu[0].img!==undefined"><img src="https://www.letu.ru{{prods.letu[0].img}}" height="50px" /></div>
					<div *ngIf="prods.letu[0].listingprice!==undefined" style="position: absolute;right: 0;bottom: 0;color: green;padding: 7px">{{prods.letu[0].listingprice}} руб.</div>
				</mat-card>
			</td>
			<td class="ga-tr-1" width="25%" style="position: relative">
				<mat-card *ngIf="prods.ilde_match_code!==undefined">
					<div class="ga-h2">{{prods.ilde[0].pn}}</div>
					<div class="ga-h2">{{prods.ilde[0].pc}}</div>
					<div class="ga-brand">{{prods.ilde[0].brand}}</div>
					<div>{{prods.ilde[0].articul}}</div>
					<div><span *ngIf="prods.ilde[0].image!==undefined"><img src="http://static.iledebeaute.ru{{prods.ilde[0].image}}" height="50px" /></span>
					<span *ngIf="prods.ilde[0].big_pic!==undefined"><img src="http:{{prods.ilde[0].big_pic}}" height="50px" /></span>
					</div>
					<div *ngIf="prods.ilde[0].listingprice!==undefined" style="position: absolute;right: 0;bottom: 0;color: green;padding: 7px">{{prods.ilde[0].listingprice}} руб.</div>
				</mat-card>
			</td>
		</tr>
	</tbody>
</table>