<div style="padding:10px;float: left">

	<div>
	    <md-input-container class="example-full-width">
	        <input type="text" mdInput placeholder="Брэнд Gestori"
	        [formControl]='myCompleteMatchControl' [mdAutocomplete]="auto" #brandInput>
	    </md-input-container>

	    <md-autocomplete #auto="mdAutocomplete">
	        <md-option *ngFor="let option_complete of filteredMatchOptions | async" [value]="option_complete.val" (onSelectionChange)="getGestoriBrands($event, item)">
	            {{ option_complete.val }}
	        </md-option>
	    </md-autocomplete>
	</div>

	<table class="striped">
		<tr>
		    <div>
		        <div style="display: none"><md-spinner></md-spinner></div>
		        <pagination-controls (pageChange)="getPageGestori($event)" id="match_pr_paginate" previousLabel="Пред." nextLabel="След."></pagination-controls>
		    </div>
		</tr>
	    <tr *ngFor="let br of asyncGestoriProducts | async | paginate: { id: 'match_pr_paginate', itemsPerPage: perPage, currentPage: p, totalItems: totalMatch }">
	        <td class="table-td">
	            <md-list-item>
	            	<div md-line><h2 style="margin: 0;color: #333;font-size: 16px">{{br._id.name}}</h2></div>
	                <div md-line><span md-line style="padding-right: 15px;color: rgb(63, 81, 181)">{{br._id.artic}}</span><span>{{br._id.brand}}</span>&nbsp;&nbsp;&nbsp;<span>{{br._id.barcod}}</span></div>
	                <div md-line>{{br._id.name_e}}</div>
	            </md-list-item>
	        </td>
	        <td>
	            <button md-icon-button color="primary">
	                <md-icon class="md-24" aria-label="Example icon-button with a heart icon">check</md-icon>
	            </button>
	        </td>
	    </tr>
	</table>

</div>

<div>
	<md-tab-group>
		<md-tab label="RIVE">
			<table>
				<tr>
					<td>
					    <md-input-container class="example-full-width">
					        <input type="text" mdInput placeholder="Брэнд Рив Гош"
					        [formControl]="myCompleteRiveMatchControl" [mdAutocomplete]="auto3" #brandInputRive>
					    </md-input-container>
					    <md-autocomplete #auto3="mdAutocomplete">
					        <md-option *ngFor="let option_rive of filteredRiveMatchOptions | async" [value]="option_rive.val">
					            {{ option_rive.val }}
					        </md-option>
					    </md-autocomplete>
			    	</td>
			    </tr>
			</table>
			<table class="striped">
			    <tr>
				    <div>
				        <div style="display: none"><md-spinner></md-spinner></div>
				        <pagination-controls (pageChange)="getPageRive($event)" id="match_pr_rive_paginate" previousLabel="Пред." nextLabel="След."></pagination-controls>
				    </div>
			    </tr>
			    <tr *ngFor="let xr of asyncRiveProducts | async | paginate: { id: 'match_pr_rive_paginate', itemsPerPage: perPage, currentPage: p3, totalItems: totalMatch3 }">
			        <td class="table-td">
			            <md-list-item>
							<div md-line><h2 style="margin: 0;color: #333;font-size: 16px;line-height: 20px">{{xr._id.name}}</h2></div>
	                		<div md-line><span md-line style="padding-right: 15px;color: rgb(63, 81, 181)">{{xr._id.code}}</span>&nbsp;<span>{{xr._id.brand}}</span>&nbsp;&nbsp;&nbsp;<span>{{xr._id.country}}</span></div>
			                <div md-line>{{xr._id.desc}}</div>
			            </md-list-item>
			        </td>
			        <td>
			        	<img src="{{xr._id.image_url}}" height="50px"/>
			        </td>
			        <td>
			            <button md-icon-button color="primary">
			                <md-icon class="md-24" aria-label="Example icon-button with a heart icon">check</md-icon>
			            </button>
			        </td>
			    </tr>
			</table>
		</md-tab>

		<md-tab label="ILDE">
			<table class="striped">
				<tr>
					<td>
					    <md-input-container class="example-full-width">
					        <input type="text" mdInput placeholder="Брэнд Ильдеботэ"
					        [formControl]="myCompleteIldeMatchControl" [mdAutocomplete]="auto1" #brandInputLetu>
					    </md-input-container>

					    <md-autocomplete #auto1="mdAutocomplete">
					        <md-option *ngFor="let option_ilde of filteredIldeMatchOptions | async" [value]="option_ilde.val">
					            {{ option_ilde.val }}
					        </md-option>
					    </md-autocomplete>
					</td>
					<td></td>
				</tr>
			    <tr>
				    <div>
				        <div style="display: none"><md-spinner></md-spinner></div>
				        <pagination-controls (pageChange)="getPageIlde($event)" id="match_pr_ilde_paginate" previousLabel="Пред." nextLabel="След."></pagination-controls>
				    </div>
			    </tr>
			    <tr *ngFor="let jr of asyncIldeProducts | async | paginate: { id: 'match_pr_ilde_paginate', itemsPerPage: perPage, currentPage: p2, totalItems: totalMatch2 }">
			        <td>
			            <md-list-item>
							<div md-line><h2 style="margin: 0;color: #333;font-size: 16px;line-height: 20px">{{jr._id.name}}</h2></div>
	                		<div md-line><span md-line style="padding-right: 15px;color: rgb(63, 81, 181)">{{jr._id.artic}}</span>&nbsp;<span>{{jr._id.brand}}</span>&nbsp;&nbsp;&nbsp;</div>
			            </md-list-item>
			        </td>
			        <td>
			        	<img src="http://static.iledebeaute.ru{{jr._id.image}}" height="50px" />
			        </td>
			        <td>
			            <button md-icon-button color="primary">
			                <md-icon class="md-24" aria-label="Example icon-button with a heart icon">check</md-icon>
			            </button>
			        </td>
			    </tr>
			</table>
		</md-tab>

		<md-tab label="LETU">
			<table class="striped">
				<tr>
					<td>
					    <md-input-container class="example-full-width">
					        <input type="text" mdInput placeholder="Брэнд Летуаль"
					        [formControl]="myCompleteLetuMatchControl" [mdAutocomplete]="auto1" #brandInputLetu>
					    </md-input-container>

					    <md-autocomplete #auto1="mdAutocomplete">
					        <md-option *ngFor="let option_letu of filteredLetuMatchOptions | async" [value]="option_letu.val">
					            {{ option_letu.val }}
					        </md-option>
					    </md-autocomplete>
					</td>
					<td></td>
				</tr>
			    <tr>
				    <div>
				        <div style="display: none"><md-spinner></md-spinner></div>
				        <pagination-controls (pageChange)="getPageLetu($event)" id="match_pr_letu_paginate" previousLabel="Пред." nextLabel="След."></pagination-controls>
				    </div>
			    </tr>
			    <tr *ngFor="let br of asyncLetuProducts | async | paginate: { id: 'match_pr_letu_paginate', itemsPerPage: perPage, currentPage: p1, totalItems: totalMatch }">
			        <td>
			            <md-list-item>
			            	<div md-line><i>{{br._id.name}}</i></div>
			                <div md-line><span md-line style="padding-right: 15px;color: rgb(63, 81, 181)"><b>{{br._id.artic}}</b></span>{{br._id.name_e}}</div>
			                <div md-line>{{br._id.brand}}</div>
			            </md-list-item>
			        </td>
			        <td>
			            <button md-icon-button color="primary">
			                <md-icon class="md-24" aria-label="Example icon-button with a heart icon">check</md-icon>
			            </button>
			        </td>
			    </tr>
			</table>
		</md-tab>

	</md-tab-group>
</div>
