<style type="text/css">
  .fill {
      min-height: 100%;
      height: 100%;
  }
  .Aligner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Aligner-item {
    max-width: 50%;
  }
</style>

<div class="container fill">
<div class="row">

  <div class="col-sm-4"></div>

  <div class="col-sm-4">

    <mat-card class="example-card">
      <mat-card-header>
        <h1>Please sign in</h1>
      </mat-card-header>
      <mat-card-content>
        <form class="form-signin">
          <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
          <p>
            <mat-form-field appearance="legacy" class="example-full-width">
              <input matInput placeholder="Email">
              <mat-icon matSuffix>mail</mat-icon>
              <mat-hint>mail@google.com</mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="legacy" class="example-full-width">
              <input matInput placeholder="Password">
              <mat-icon matSuffix>security</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>
          <p class="mt-5 mb-3 text-muted">Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад.</p>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <p style="text-align: center">
          <button mat-raised-button color="primary">Login</button>
        </p>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="col-sm-4"></div>

</div>