<h2 mat-dialog-title></h2>

<mat-dialog-content>
    <p>{{data.msg}}</p>
    <div>
        <img *ngIf="data.img!==undefined" 
            src="{{data.img}}" style="max-width: 300px" />
    </div>
</mat-dialog-content>

<div>
    <mat-dialog-actions style="text-align: center">
        <button mat-raised-button color="primary" 
            mat-button [mat-dialog-close]="true" (click)="onYesClick()">Ok</button>
    </mat-dialog-actions>
</div>

<div *ngIf="data.refreshMatchList!==undefined">
    <mat-dialog-actions style="text-align: center">
        <button mat-raised-button color="primary" 
            mat-button [mat-dialog-close]="true" (click)="onYesClick()">Ok</button>
    </mat-dialog-actions>
</div>
