/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
    padding: 0;
    margin: 0;
}

.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

.example-full-width {
    width: 100%;
}

.example-form {
    width: 320px;
    padding: 15px;
}

.aright {
	text-align: right;
}

.w32 {
	width: 32px;
}

.striped tbody tr:nth-child(even) {
   filter: invert(5%);
}

.striped1 tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

.table-td {
	padding: 11px 7px;
}

.ga-h2-custom h2 {
	margin: 0;
	color: #333;
}

.ga-shadow {
	box-shadow: 10px 10px 5px #888888;
}

.selected-item-before {
  transition: border-left 0.5s;
  border-left: 0px;
  margin-bottom: 7px;
}

.selected-item-after {
  transition: border-left 0.5s;
  border-left: 14px solid rgb(33, 153, 232);
}

.ga-h2 {
    margin: 0;
    color: #333;
    font-size: 16px;
    line-height: 20px;
}

.ga-tr-1 {
    vertical-align: top;
    padding: 7px 5px;
}

.ga-brand {
    color: rgb(33, 153, 232);
}

.bottom-shadow {
    -webkit-box-shadow: 0 6px 4px -4px #a7a7a7;
    -moz-box-shadow: 0 6px 4px -4px #a7a7a7;
    box-shadow: 0 6px 4px -4px #a7a7a7;
}

.mat-tab-body-content.ng-trigger.ng-trigger-translateTab {
    overflow: hidden;
}

.round {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -250px; /*(half of width)*/
    margin-top: -250px;  /*(half of height)*/
}

.h2-c {
    color: #000 !important;
    padding-bottom: 5px;
    font-size: 18px !important;
    margin: 0 !important;
    line-height: 22px !important;
}

.ga-progress-bar {
    height: 10px;
    margin-top: 14px;
    padding: 0 24px;
}
