/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
    padding: 0;
    margin: 0;
}

.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

.example-full-width {
    width: 100%;
}

.example-form {
    width: 320px;
    padding: 15px;
}

.aright {
	text-align: right;
}

.w32 {
	width: 32px;
}

.striped tbody tr:nth-child(odd) {
   background-color: #f6f6f6;
   box-shadow: 2px 2px 5px #f1f1f1;
}

.table-td {
	padding: 11px 7px;
}

.ga-h2-custom h2 {
	margin: 0;
	color: #333;
}

.ga-shadow {
	box-shadow: 10px 10px 5px #888888;
}
